<script lang="ts" setup>
const columns = [
  {
    title: 'کد مرکز هزینه',
    dataIndex: 'code',
  },
  {
    title: 'نام مرکز هزینه',
    dataIndex: 'name',
  },
  {
    title: 'نوع مرکز هزینه',
    dataIndex: 'type',
  },
  {
    title: 'انبار پیش فرض',
    dataIndex: 'default_storage',
  },
  {
    title: 'مسئول انبار',
    dataIndex: 'worker_storage',
  },
  {
    title: 'شهر',
    dataIndex: 'city',
  },
  {
    title: 'آدرس',
    dataIndex: 'address',
  },
  {
    title: 'کد پستی',
    dataIndex: 'postal_code',
  },
  {
    title: 'موقعیت مکانی',
    dataIndex: 'location',
  },
  {
    title: 'نقش های مجاز به دیدن اطلاعات',
    dataIndex: 'roles',
  },
  {
    title: 'ثبت وضعیت آب و هوا',
    dataIndex: 'weather',
  },
  {
    title: 'تعداد روزهای بدون فعالیت',
    dataIndex: 'no_activity',
  },
  {
    title: 'کاربران مطلع',
    dataIndex: 'informed',
  },
  {
    title: 'گروه مجازی',
    dataIndex: 'virtual',
  },
  {
    title: 'توضیحات',
    dataIndex: 'description',
  },
];

const data = [
  {
    key: '1',
    code: 1,
    name: 'حافظ',
    type: 'غیرکارگاهی',
    default_storage: 'انبار مرکزی',
    worker_storage: 'مهدی غلامی',
    city: 'تهران',
    address: 'میدان انقلاب، خیابان کارگر شمالی، بن بست امین پلاک 9',
    postal_code: '147854126',
    location: '',
    roles:'',
    weather: '',
    no_activity: '',
    informed:'',
    virtual:'',
    description: 'لورم ایپسوم یا طرح‌نما (به انگلیسی: Lorem ipsum) به متنی آزمایشی و بی‌معنی در صنعت چاپ، صفحه‌آرایی و طراحی گرافیک گفته می‌شود.'
  },
  {
    key: '2',
    code: 2,
    name: 'فتح',
    type: 'غیرکارگاهی',
    default_storage: 'انبار شریعتی',
    worker_storage: 'علیرضا رمضانی نیا',
    city: 'تهران',
    address: 'خیابان شریعتی،داوودیه نرسیده به خیابان ظفر، خیابان دفتری شرقی',
    postal_code: '124466688',
    location: '',
    roles:'',
    weather: '',
    no_activity: '',
    informed:'',
    virtual:'',
    description: 'لورم ایپسوم یا طرح‌نما (به انگلیسی: Lorem ipsum) به متنی آزمایشی و بی‌معنی در صنعت چاپ، صفحه‌آرایی و طراحی گرافیک گفته می‌شود.'
  },
  {
    key: '3',
    code: 3,
    name: 'برزو',
    type: 'کارگاهی',
    default_storage: 'انبار آپادانا',
    worker_storage: 'مازیار رمضانی',
    city: 'تهران',
    address: 'تهران خیابان جلال آل احمد خیابان آپادانا، کوچه ملکی، پلاک4536',
    postal_code: '124466688',
    location: '',
    roles:'',
    weather: '',
    no_activity: '',
    informed:'',
    virtual: '',
    description: 'لورم ایپسوم یا طرح‌نما (به انگلیسی: Lorem ipsum) به متنی آزمایشی و بی‌معنی در صنعت چاپ، صفحه‌آرایی و طراحی گرافیک گفته می‌شود.'
  }
];

</script>

<template>
  <a-table
      :scroll="{ x: 1500 }"
      stripe
      class="ant-table-striped rounded-lg"
      size="middle"
      :columns="columns"
      :data-source="data"
      :row-class-name="(_record, index) => (index % 2 === 1 ? 'table-striped' : null)"
  />
</template>
<style>
.ant-pagination {
  direction: ltr;
}

.table-striped {
  background-color: #fafafa;
}
</style>