<template>
  <a-layout-sider v-model:collapsed="collapsed">
    <img src="@/assets/logo.svg"/>
    <a-menu v-model:selectedKeys="selectedKeys"
            theme="dark"
            mode="inline"
            class="sidebar">
      <a-sub-menu key="sub1">
        <template #title>
            <span>
              <user-outlined/>
              <span>User</span>
            </span>
        </template>
        <a-menu-item key="3">Tom</a-menu-item>
        <a-menu-item key="4">Bill</a-menu-item>
        <a-menu-item key="5">Alex</a-menu-item>
      </a-sub-menu>
      <a-sub-menu key="sub2">
        <template #title>
            <span>
              <team-outlined/>
              <span>Team</span>
            </span>
        </template>
        <a-menu-item key="6">Team 1</a-menu-item>
        <a-menu-item key="8">Team 2</a-menu-item>
      </a-sub-menu>

    </a-menu>
  </a-layout-sider>
</template>
<script lang="ts" setup>
import {ref} from 'vue';

const collapsed = ref<boolean>(false);
const selectedKeys = ref<string[]>(['1']);

</script>
<style>

</style>