@import './base.css';
@import 'ant-design-vue/dist/reset.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #828282 #F2F2F2;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 2px;
}

*::-webkit-scrollbar-track {
    background:#F2F2F2;
    border-radius: 15px;
}

*::-webkit-scrollbar-thumb {
    background-color: #828282;
    border-radius: 15px;
    border: 2px solid #F2F2F2;
    width: 2px;
}
.ant-table-container::after{
    box-shadow: none !important;
}
body,
button,
input,
optgroup,
select,
textarea {
    direction: rtl;
    font-family: IRANSansWeb !important;
}

@font-face {
    font-family: IRANSansWeb !important;
    font-style: normal;
    font-weight: 900;
    src: url("@/assets/fonts/IRANSansWeb.woff") format("woff");
}
