<template>
  <div class="relative">
    <div class="absolute top-0 left-0 w-full h-[200px] bg-[#163a35]"></div>
    <div class="relative z-10 custom-layout">
      <a-layout style="min-height: 100vh">
        <sidebar></sidebar>
        <a-layout>
          <a-layout-header style="background: #fff; padding: 0"
                           class="rounded-lg"/>
          <a-layout-content class="rounded-lg">
            <div class="mt-4 rounded-lg">
              <slot/>
            </div>
          </a-layout-content>
        </a-layout>
      </a-layout>
    </div>
  </div>
</template>
<script lang="ts" setup>
import {ref} from 'vue';
import Sidebar from "../components/Sidebar.vue";
</script>
<style>
.custom-layout .ant-table-content {
  border-radius: 10px;
}

.custom-layout .ant-layout {
  background-color: transparent;
}

.custom-layout .ant-layout-has-sider {
  padding: 10px;
}

.custom-layout .ant-layout-sider {
  margin-left: 10px;
  border-radius: 10px;
}


.custom-layout .ant-layout-sider-children,
.custom-layout .ant-menu {
  border-radius: 10px;
  color: #3F5882;
  background-color: #EDF3F7;
}

.custom-layout .ant-menu-sub {
  background-color: #EDF3F7 !important;
}

</style>
